// @font-face {
//     font-family: 'helvetic-bold';
//     src: url(../assets/fonts/helveticaneuecyr-bold.otf); /* IE9 Compat Modes */
//     src: url(../assets/fonts/helveticaneuecyr-bold.otf)  format('truetype'), /* Safari, Android, iOS */
// }

// @font-face {
//     font-family: 'helvetic';
//     src: url(../assets/fonts/helveticaneuecyr-roman.otf); /* IE9 Compat Modes */
//     src: url(../assets/fonts/helveticaneuecyr-roman.otf)  format('truetype'), /* Safari, Android, iOS */
// }

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #252F39;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

