.news_list {
    height: 100vh;
    background-color: #252F39;
    color: #fff;
    padding: 20px;
    // padding-top: 50px;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #252F39;

        &__title {
            font-size: 16px;
        }

        &__part {
            display: flex;
            align-items: center;
        }
    }

    .news_card {
        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 35px;
            margin-bottom: 0;
        }

        &__title {
            margin-top: 0;
        }

        &__header-end {
            justify-content: flex-end;
        }

        &__date {
            display: flex;
            align-items: center;
            small {
                margin-left: 9px;
            }
        }

        &__owner {
            font-weight: 550;
            font-size: 18px;
        }

        &__read_next {
            color: #A3A5A7;
            font-size: 14px;
            padding-bottom: 10px;
            display: inline-block
        }

        .controls {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            span {
                margin-left: 13px;
            }
        }
    }
}