// @font-face {
//     font-family: 'helvetic-bold';
//     src: url(../../assets/fonts/helveticaneuecyr-bold.otf); /* IE9 Compat Modes */
//     src: url(../../assets/fonts/helveticaneuecyr-bold.otf)  format('truetype'), /* Safari, Android, iOS */
// }

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    &__title {
        color: #fff;
        font-size: 24px;
        padding-top: 150px;
    }

    &__control {
        width: 70%;

        input[type="text"],
        input[type="password"] {
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.6);
            padding-bottom: 10px;
            background-color: transparent;
            width: 100%;
            font-size: 18px;
            outline: none;
            color: #fff;
            margin-top: 35px;
        }
    }

    &__btn {
        border: none;
        border-radius: 10px;
        background-color: #FF7E2E;
        width: 100%;
        display: block;
        text-align: center;
        padding: 20px;
        text-decoration: none;
        color: #252F39;
        font-size: 20px;
        font-weight: 700;
        margin-top: 20px;
        overflow: hidden;
    }
}