.sidemenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #252F39;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item {
        color: #fff;
        font-size: 16px;
        margin-top: 23px;
    }

    &__title {
        font-size: 33px;
        color: #FF7E2E;
        padding-top: 100px;
    }

    &__close {
        position: absolute;
        top: 46px;
        right: 35px;
    }

    .controls {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        width: 100%;

        button {
            flex: 1;
            padding: 14px;
            font-size: 16px;
            color:#fff;
            background-color: #7E2EFF;
            border: none;
        }
    }
}