// @font-face {
//     font-family: 'helvetic-bold';
//     src: url(../../assets/fonts/helveticaneuecyr-bold.otf); /* IE9 Compat Modes */
//     src: url(../../assets/fonts/helveticaneuecyr-bold.otf)  format('truetype'), /* Safari, Android, iOS */
// }

.start {
    background-color: #252F39;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    

    &__title {
        font-size: 33px;
        font-weight: 900;
        color: #FF7E2E;
        margin: 0;
        text-align: center;
        padding-top: 40px;
    }

    &__description {
        margin-top: 30px;
        color: #fff;
        text-align: center;
        font-size: 16px;
        width: 80%;
    }

    &__btn {
        border-radius: 10px;
        font-family: 'Roboto', sans-serif;
        background-color: #FF7E2E;
        width: 60%;
        display: block;
        text-align: center;
        padding: 20px;
        text-decoration: none;
        color: #252F39;
        font-size: 20px;
        font-weight: 700;
        margin-top: 20px;
    }

    &__img {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}