.search_block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #252F39;
    color: #fff;
    .splash {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }

    &__bar {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        align-items: center;
    }

    &__input {
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding: 10px 10px;
        background-color: #303945;
        width: 80%;
        input {
            margin-left: 15px;
            background-color: transparent;
            border: none;
            color: #fff;
            overflow: hidden;
            font-size: 14px;
        }
    }
}