.authorization {
    position: relative;

    &__wrap {
        background-color: #252F39;
        background-image: url(../../assets/auth_back.png);
        height: 100vh;
        display: flex;
    }

    .content {
        width: 100%;
    }

    .bar {
        position: absolute;
        left: 27px;
        top: 41px;
    }
}